.navbar-title{
    color: white !important;
    font-size: 25px;
    font-weight: bold;
    padding-right:15px;
}
.navbar-style{
    background-color: #005eb8;
}

.navbar-brand{
    padding-bottom: 0px;
}

/*.navbar-input-group{*/
/*    margin-left:2px;*/
/*    padding-left: 5px;*/
/*}*/

/*For mobile view to take up full width of screen.*/
@media screen and (min-width: 992px) {
    .input-group {
        width: 275px;
    }
}

.navbar-input {
    height: auto;
}
.search-button:focus,
.navbar-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button,
.search-button:hover,
.search-button:focus {
    background: #fff;
    border: 1px solid #ced4db;
}
