.container {
  overflow: hidden;
  margin: 20px auto 45px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  padding: 25px 30px 35px;
  color: #4d4d4f;
}

.f-fw-bold {
  font-weight: 700;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: grey;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h1 {
  animation: type 0.5s alternate infinite;
  margin-bottom: 6px;
  padding-right: 12px;
}

h2 {
  margin-bottom: 26px;
}

body {
  background-color: #f8f8f8;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
