.card {
  overflow: hidden;
  border-radius: 7px;
}
.card-selected {
  border: 1px solid green;
}
.card-body {
  background-color: #fdfdfd;
  color: black;
}
.card-body-selected {
  background-color: green;
  color: white;
}
