.auth-button{
    margin-top: 10vh;
    padding: 20px 40px;
    background-color: #005EB8;
    font-weight: bold;
}

.auth-form{
    margin-top: 30px;
    margin-bottom: 60px;
}

.btn-primary{
    background-color: #005EB8;
}

.error_message{
    color: red;
    display: none;
}

.nav {
    flex-wrap: nowrap;
}

.tab-pane {
    padding: 25px 15px 20px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}