.card-wrapper{
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.card-wrapper:hover{
    transform: scale(1.02);
}

.redirect-Convert{
    background-color: #1E90FF;
    margin-top: 15px;
    padding: 20px 40px;
    font-weight: bold;
}
