.card-container{
    border: #e1e4e8 1px solid;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 2vh 2vw 2vw 2vh;
    border-radius: 10px;
}

.card-wrapper{
    border: green 2px solid;
    margin-top: 10px;
    border-radius: 5px;
}

.redirect-Convert{
    background-color: #1E90FF;
    margin-top: 15px;
    margin-left: 34vw;
    margin-right: 34vw;
    padding: 20px 40px;
    font-weight: bold;
}
