.container{
    overflow: hidden;
}
#qr-div{
    float:left;
    position:relative;
    /*left:4%;*/
    margin-top: 10%;
    margin-left: 10%;
    width: 200px;
    height: 200px;
    display: block;
}
.qrcode{
    height: 200px;
    width: 200px;
    margin: 0px;

}
#instruction-div{
    float: left;
    position: relative;

    /*left: 0.5%;*/
    width: 70%;
}
.qrtab-title{
    text-align: left;
    margin-left: 3%;
}
p{
    /*font-size: 18px;*/
}
.pc-ordered-list{
    font-size: 18px;
    text-align: justify;
    margin-top: 3%;
    margin-right: 8%;
}

.pc-ordered-list-p{
    margin-left: -2.5%;
}
.pc-qr-col{
    margin: auto;
}

.clear{
    clear: both;
}

.mobile-qr{
    text-align: center;
}

.mobile-qrtab-title{
    text-align: center;
    /*left: 100%;*/
    font-size: 20px;
}
.mobile_instruction-div{
    width: 100%;
    /*display: block;*/
}
.mobile-ordered-list{
    font-size: 12px;
    padding-left: 8%;
}

.mobile-ordered-p{
    text-align: center;
    padding-right: 8%;
}
.mobile-device-name{
    font-weight:bold;
}

.qr-code-status-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.qr-code-status-tab-text-box {
    display: inline-block;
    margin-left: 30px;
}

