.container{
    overflow: hidden;
}

.qrcode{
    height: 50px;
    width: 50px;
    /*margin: 0px;*/

}


/* PC style */
@media screen and (min-width: 768px) {
    .ordered-list{
        font-size: 16px;
        text-align: justify;
        margin-top: 3%;
        margin-right: 8%;
    }

    .ordered-list-p{
        /* margin-left: -2.5%; */
        
    }

    .mobile-qr{
        display: none;
    }

    .pc-qr-col{
        margin: auto;
    }

    .input-email-text{
        font-size: 14px;
        margin-left: 2%;
    }

    .input-email-group{
        margin: auto;
        width: 80%;
        height: 100%;
        margin-left: 2%;
    }

    .input-email-field{
        font-size: 14px;
        height: 100%;

    }
}

/* Mobile style */
@media screen and (max-width: 768px) {
    .ordered-list{
        font-size: 14px;
        padding-left: 8%;
    }

    .ordered-list-p{
        font-size: 12px;
        /* text-align: center;
        padding-right: 8%; */
    }

    .mobile-qr{
        display: block;
        text-align: center;
    }

    .pc-qr-col{
        display: none;
    }

    .input-email-text{
        font-size: 12px;
        margin-left: 2%;
    }

    .input-email-group{
        /*margin: "", width: "50%",marginLeft:"2%"*/
        margin: auto;
        width: 100%;
        height: 100%;

    }

    .input-email-field{
        font-size: 12px;
        height: 100%;

    }
}

.qr-code-status-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.qr-code-status-tab-text-box {
    display: inline-block;
    margin-left: 30px;
}


.mobile-form-control{
    font-size: 12px
}

.mobile-last-built-div{
    text-align: center;
    font-size: 12px;
}


